
*.wdf
*.wdf
*.xml
*.wpc
*.wdf
*.wdf
*.wpc
*.xml
*.rst
*.js
*.sh
*.tcl
*.vds
*.bat
*.log
*.jou
*.pb
*.prj
*.ini
*.str
MIPS.runs/synth_1/__synthesis_is_running__
*.obj
*.wdb
*.info
*.c
*.wdm
*.html
*.reloc
*.rlx
*.dbg
*.rtti
*.type
*.svtype
*.exe
*.sdb
*.xdbg
*.wdf
*.txt
MIPS.runs/synth_1/__synthesis_is_complete__
*.dcp
*.rpt
*.xml
MIPS.cache/wt/webtalk_pa.xml
MIPS.cache/wt/synthesis.wdf
MIPS.cache/wt/project.wpc
MIPS.cache/wt/java_command_handlers.wdf
MIPS.cache/wt/gui_handlers.wdf
*.wdf
*.wdf
